.ig {
    margin-top: 50px;
}

.card {
    display: inline-table;
    margin-right: 25px;
    margin-top: 20px;
}


#capts {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}